<h1>Comparea</h1>
<h2>Maak een eerlijke vergelijking</h2>


<!-- Search form -->
<select class="dropdown btn btn-lg btn-primary" dropdown-toggle type="button" ng-options="r.id as r.name for r in results | filter:search_term" data-toggle="dropdown"
        ng-model='selected_gemeente'>Stad <span class="caret"></span>


</select>

<hr/>

<div class="btn-group">
    <label ng-repeat="dataset in datasets" class="btn btn-lg btn-primary" ng-model="dataset.active" uib-btn-checkbox>{{dataset.name}}</label>
</div>

<hr/>


<!-- SEARCH button -->
<button class="btn btn-lg btn-default" ng-click="search_similar()">
    Zoek
</button>


<hr/>

<!-- Results table -->
<div ng-if="gridData.data.length" ui-grid="gridData" class="similar"></div>


<!-- TODO:
- make columns vertical
- add colors
- add average value column
- remove id column
- add labels
- bootstap select box
- checkboxes


-->
