
<h1>Home</h1>


<!-- Search form -->
<form>
  <input type="text" name="search" ng-model="search_term" placeholder="Zoek...">
</form>

<select ng-model='selected_gemeente'>
  <option ng-repeat="r in results | filter:search_term" value="{{r.id}}">
    {{r.name}}
  </option>
</select>

<form action="">
  <input type="checkbox" name="search_options" value="a">Option1 <br>
  <input type="checkbox" name="search_options" value="b">Option2 <br>
  <input type="checkbox" name="search_options" value="c">Option3 <br>
</form>

<!-- SEARCH button -->
<button class="btn btn-primary" ng-click="search_similar()">
  Zoek
</button>


<hr />

<table class="table table-striped">
  <thead>
   <th ng-repeat="head in header">
    {{head}}
  </th>
</thead>
<tbody>
  <tr ng-repeat="r in rows">
    <td ng-repeat="value in r">
      {{value}}
    </td>
  </pre>
</tr>
</table>


<!-- TODO:
- make columns vertical
- add colors
- add average value column
- remove id column
- add labels
- bootstap select box
- checkboxes


-->
